header {
  background-color: rgb(85, 43, 129);
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.entry-input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 2.5px;
  border: 1px solid gray;
  margin: 10px 0;
  outline-color: rgb(85, 43, 129);
}

.no-bold {
  font-weight: 400;
}

.bold-text {
  font-weight: bold;
}

.white-text {
  color: white;
}

.tb-margin {
  margin: 10px 0;
}

.add-margin-left {
  margin-left: 18px;
}

.new-entry-button,
.submit-entry-button {
  border-radius: 5px;
  border: none;
  background-color: rgb(85, 43, 129);
  color: white;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.new-entry-button {
  height: 100%;
}

.new-entry-button:hover,
.submit-entry-button:hover {
  cursor: pointer;
}

.entry-list {
  list-style-type: none;
}

.entries-link {
  text-decoration: none;
}

li div.text-box {
  position: relative;
}

.edit-icon {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 22px;
}

.edit-icon:hover {
  cursor: pointer;
}

.delete-button {
  color: #dc2626;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: underline;
}

.hide-delete {
  visibility: hidden;
}

.delete-button:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 320px;
  height: 130px;
  background-color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 2;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 19px;
}

.modal-content {
  font-size: 14px;
}

.modal-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.open-sans-font {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.modal-content button {
  margin: 20px 14px;
  border-radius: 4px;
  border: none;
  padding: 5px 12px;
}

.modal-content button:hover {
  cursor: pointer;
}

.close-modal {
  background-color: #b6b6b6;
}

.confirm-delete {
  background-color: #dc2626;
  color: white;
}
